/*******global styles************/
header {
    font-family: "Lato", sans-serif;
    padding-bottom: 0.75em;
}

main {
    padding-top: 30px;
}


body {
    background-color: #eee;
}

h3 {
    font-size: 1rem;

}

/********nav styles***********/
nav {
    background-color: white;
    padding: 3rem 1.5rem;
    align-items: center;
}


#nav-contents {
    display: none;
}

.furnifinds-logo {
    height: 35px;
    padding-bottom: 7px;
}

.hamburger {
    float: right;
    margin-left: 15px;
}

nav a {
    margin-left: 1.5em;
    text-decoration: none;
    font-size: 1.5rem;
    color: #121212;
    padding: 0 30px;
    background-image: linear-gradient(#ddd,#ddd);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: .4s;
}

#signin {
    margin-right: 1.5rem;
}

#signin, #upload {
    float: right;
}

nav a:hover {
    background-size: 100% 100%;
    color: black;

}

/********main content styles*********/
.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-entry {
    width: 400px;
    /* height: 40px; */
    margin: 10px 0px;
}

/* make search icon bigger:  */

/* button i.fa-search {
    font-size: 30px;
} */

.card {
    padding-top: 5px;
    height: 550px;
	background: #fff;
	box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

[class*="row"] {
	margin-bottom: 1em;
    justify-content: center;
}

.material-icons {
    position: relative;
    top: 10px;
}

/*********footer styles*********/
footer {
    color: black;
    background-color: #adb5bd;
    margin-top: auto;
}


footer a {
    text-decoration: none;
    color: black;
}

footer p {
    margin: 0;
    line-height: 1.25;
}

footer p:last-child {
    padding-top: 8px;
    padding-bottom: 10px;
}

/*******Media Queries**********/
@media (min-width: 598px) {
    .card {
        width:100%;
        height: 550px;
    }

    footer {
        display: block;
    }

}

@media (min-width: 768px) {
    .card {
        height: 500px;
    }

    #hamburger-menu {
        display: none;
    }

    #nav-contents {
        display: block;
    }

}

@media (min-width: 992px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }

    .card {
        height: 550px;
    }
}

/* this is log in O*/

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
 }

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.centered-form {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 #motto > h1{
    font-family: "Lato", sans-serif;
    color: black;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}


 #motto > h2 {
    font-family: "Lato", sans-serif;
    font-size:100%;
    color: grey;
    text-align: center;
    padding: 10px;

}


 /* Create a post page */

.item-post-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

 .create-posting {
     max-width: 700px;
     padding: 10px;
 }

 .add-photo-button .btn{
     width: 100%;
     max-width: 100%;
     box-sizing: border-box;
 }

 .item-posting-form input[type="text"] {
     width: 100%;
     max-width: 100%;
     box-sizing: border-box;
 }

 .description-box {
     height: 100px;
 }

.cancel-btn .btn{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
 }

.submit-btn .btn {
     margin-top: 20px;
     width: 100%;
     max-width: 100%;
     box-sizing: border-box;
 }