/*******global styles************/
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

header {
    font-family: "Lato", sans-serif;
    padding-bottom: 0.75em;
}

.App-header {
    width: 100%;
    padding: 20px 0;
    background-color: #957DAD; /* Or any other color you prefer */
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Optional */
  }
  
  .App-title {
    margin-left: 20px; /* Adjust spacing from the left edge */
    font-size: 50px; /* Adjust size as needed */
  }
  
main {
    padding-top: 30px;
}

body {
    font-family: 'Arial', sans-serif;
    color: #5A4B6E; /* Lavender influenced text color */
    background-color: #F3EAF8; /* Light lavender background */
    margin: 0;
    padding: 0;
}
  

h3 {
    font-size: 1rem;
}

.text-align {
    text-align: center;
}

.body-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex: 1;
  }

/********nav styles***********/
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    padding: 0.5rem 1.5rem;
  }

  .nav-container {
    padding-top: 1em;
    display: flex;;
    justify-content: space-around;
    list-style-type: none;
  }

.nav-contents {
    color: black;
    text-decoration: none;
    font-size: 1em;
}

.nav-contents {
    color: black;
    text-decoration: none;
    font-size: 1em;
    text-align: right;
}

.furnifinds-logo {
    height: 35px;
    padding-bottom: 7px;
}

.hamburger-menu {
    margin-left: auto;
    justify-content: flex-end;
    margin-left: 15px;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: lightgray;
    min-width: 70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    font-size: 15px;
    text-align: center;
    margin-left: 0;
    padding: 10px 15px;
}


nav a {
    margin-left: 1.5em;
    text-decoration: none;
    font-size: 1.5rem;
    color: #121212;
    padding: 0 30px;
    background-image: linear-gradient(#ddd,#ddd);
    background-size:  100% 0 ;
    background-repeat: no-repeat;
    transition: .4s;
}

nav a:hover {
    background-size: 100% 100%;
    color: black;
}

/*********footer styles*********/

footer {
    background-color: #957DAD; /* Consistent with nav */
    color: #FFFFFF;
    padding: 1rem 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    line-height: 1.25;
    color: white;
}

.material-icons {
    font-size: 1.2em;
    margin-right: 5px;
    vertical-align: middle;
    color: white;
}

/* Add this to ensure links are styled correctly */
footer a {
  color: #FFFFFF; /* Set link color to white */
  text-decoration: none; /* Removes underline from links */
}

footer a:hover, footer a:focus {
  color: #CCCCCC; /* Lighter shade for hover/focus states */
  text-decoration: underline; /* Underline on hover/focus */
}



/*********filter component styles*********/

/* Style for Filter Buttons */
/* Style for Filter Buttons */
.filter-condition,
.filter-type {
  margin-bottom: 20px;
  padding-left: 8px;
}

.filter-condition select,
.filter-type select {
  padding: 8px;
  font-size: 14px;
  margin-left: 8px;
}



.filter-button {
  background-color: #48494B;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin-left: 10px;
  cursor: pointer;
}



/********item card styles*********/
.card {
    background-color: #EDE7F6; /* Light lavender background for cards */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    width: 80%;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 10px auto;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: relative;
    border-radius: 8px;

}

.card-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-title {
    font-size: 24px;
    padding-bottom: 16px;
}

.card-body {
    flex-grow: 1; /* Make the body grow to fill the available space */
}

.card .blue-btn {
    background-color: #BFA2DB; /* Soft lavender */
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.card:hover {
    box-shadow: 0 5px 8px rgba(0,0,0,0.15);
  }

  /* Claiming Furni Pop up */
.modal-overlay {
    background-color: rgba(0,0,0,0.25);
    position: fixed;
    z-index: 1000;
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 60%;
    max-height: 70%;
    overflow: auto;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    position: absolute;
    text-align: center;
    align-items: center;
}

.modal-content {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: none;
}

.modal-content .blue-btn {
    background-color: #007bff;
    margin: 0 auto;
    margin-top: 10px;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.modal-content img {
    margin: 0 auto;
    display: block;
}

.close {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    float: right;
}

.close:hover, .close:focus {
    color: black; 
    text-decoration: none;
}

/* Banner Styles */
.banner {
    background-color: #957DAD; /* Lavender shade */
    color: white;
    padding: 20px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

/********Homepage***********/
.btn-container {
    position: relative;
}

#add-itm-text {
    text-decoration: none;
    font-size: 1.5em;
    color: white;
}

#add-item-btn {
    right: 2em;
    bottom: 2em;
    position: fixed;
    background-color: #FDB515;
    border: none;
    border-color: none;
}

/********Notification***********/
  .notification-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 1; /* Ensure the notification is fully visible */
    background-color: rgba(0, 0, 0, 0.5);
}

.notification {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}


/********Add New Listing***********/
/* .survey-label {
    padding-top: 10em;
} */

.addItem-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

#input-container {
    margin-top: 1em;
}

.input-labels {
    padding-right: 1em;
    padding-top: .5em;
    font-weight: 600;
}

.categories {
    margin-left: 1em;
}

#new-item-submit {
    background-color: #BFA2DB;
    border-color: lightslategray;
    margin: 2em;
}

#new-item-submit-another {
    background-color: #5A4B6E;
    border-color: lightslategray;
    margin: 2em;
}

#new-item-submit-another:hover, #new-item-submit:hover {
    box-shadow: 0 5px 8px rgba(0,0,0,0.15);
}

.food-footer {
    background-image: url('../../public/img/food-footer.png');
    height: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/*******Resources Page**********/

.page-title {
    text-align: center;
    font-size: 30px;
    margin-top: 40px;
    font-weight: bold;
}

/* change */
.resources-page {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
}

.video-container {
    margin-right: 20px; 
    flex: 1;
    margin-top: 20px;
    margin-left: 50px
}

.content {
    flex: 1;
    font-size: 23px;
    margin-top: 15px;
    margin-right: 90px;
    color: black;
}

/* REPLACED WITH */
.resource-card {
    flex: 0 0 calc(33.33% - 40px); 
    margin: 20px;
    padding: 20px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
    height: 100%; 
}

.feature {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    height: auto;
    color: black;
    word-wrap: break-word;
}

.feature:last-child {
    margin-right: 0px;
}

.feature h3 {
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: bold;
}

.feature p {
    font-size: 19px;
    margin-top: 20px;
}

.tips-list {
    color: black;
    list-style-type: none;
    padding-left: 0;
    font-size: 22px;
}

.tips-list li {
    margin-bottom: 15px;
    line-height: 40px;
}

/* CHANGE  */
.image-section img {
    max-width: 100%; 
    max-height: 100%;
    width: auto; 
    height: auto; 
    margin-left: 150px;
}


/*******Media Queries**********/

@media (min-width: 450px) {
    h1 {
        font-size: 1.5rem; 
        margin-bottom: 10px; 
    }

    h2 {
        font-size: 0.5rem; 
        margin-bottom: 10px; 
    }

    .card-img {
        width: 250px;
        height: 230px;
        object-fit: cover;
    }
    
    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        width: 90%;
        font-size: 14px;
        text-align: center;
        padding: 10px;
        box-sizing: border-box;
        margin: 10px auto;
        box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    }
    
    .card-body .row {
        margin-bottom: 40px;
    }

    .resource-card {
        flex-basis: calc(100% - 40px); 
    }

    .video-box {
        height: 300px;
        width: 400px;
    }
    
}

/* 576 px - 767 px screens*/
@media (min-width: 576px) {
    .card {
        height: 500px;
        width: 90%;
        font-size: 14px;
        margin: 10px auto;
        text-align: center;
    }

    .card-img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }

    .card-body .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 1.5rem; 
        margin-bottom: 10px; 
    }

    h2 {
        font-size: 0.5rem; 
        margin-bottom: 10px; 
    }

    .card-body .row {
        margin-bottom: 70px;
    }

    .resource-card {
        flex-basis: calc(50% - 40px); 
    }

    .video-box {
        height: 315px;
        width: 500px;
    }
}


/*Screens 768px - 991px*/
@media (min-width: 768px) {
    .card {
        height: 500px;
        width: 100%;
        font-size: 14px;
        margin: 10px auto;
        text-align: center;
    }

    .card-img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .card-body .row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .video-box {
        height: 315px;
        width: 600px;
    }
}

/*Screens 992px and higher*/
 @media (min-width: 992px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .card-img {
        width: 225px;
        height: 225px;
        object-fit: cover;
    }

    .card {
        height: 550px;
        width: 100%;
    }

    .hamburger-menu {
        display: none;
    }

    .nav-contents {
        display: block;
    }
} 


/*Screens 1200px and higher*/
@media (min-width: 1200px) {
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .card-img {
        width: 200px;
        height: 200px;
        object-fit: cover;
    }

    .card {
        height: 550px;
        width: 100%;
    }

    .hamburger-menu {
        display: none;
    }

    .nav-contents {
        display: block;
    }

    .video-box {
        height: 350px;
        width: 700px;
    }
}